@charset "UTF-8";
/* CSS Document */

.sidebar-primary .main {
	float:right;
}

.jumbotron {
	background-color:#fff;
}

.sidebar .widget {
	clear:both;
}
.banner-header {
	position: fixed;
	overflow-y: auto;
	padding-right: 0;
	padding-left: 0;
	width: 18%;
	height: 100%;
	
}

.widget {
	width:33.3%;
	float:left;
}

.btn {
	display: inline-block;
	margin-top:10px;
	margin-bottom:0px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	background-color:#2BD163;
	border: 4px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 12px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	line-height: 1;
	width: 100%;
	height: auto;
}